In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mp
import plotly

In [ ]:
pd.options.display.max_colwidth = 100

In [ ]:
dataset = pd.read_csv("./listings.csv")
dataset.head()

In [39]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45524 entries, 0 to 45523
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45524 non-null  int64
 1   name                            45524 non-null  object
 2   host_id                         45524 non-null  int64
 3   host_name                       45524 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   45524 non-null  object
 6   latitude                        45524 non-null  float64
 7   longitude                       45524 non-null  float64
 8   room_type                       45524 non-null  object
 9   price                           45524 non-null  int64
 10  minimum_nights                  45524 non-null  int64
 11  number_of_reviews               45524 non-null  int64
 12  last_review                     26162 non-null  object
 13  reviews_per_month               26162 non-null  float64
 14  calculated_host_listings_count  45524 non-null  int64
 15  availability_365                45524 non-null  int64
 16  number_of_reviews_ltm           45524 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 6.3+ MB

### Drop unnecessary columns

In [36]:
dataset = dataset.drop(columns=[])

In [42]:
dataset['name'].head(20)

0                             Rental unit in Beşiktaş/ bebek · 2 bedrooms · 2 beds · 1 bath
1                      Rental unit in Istanbul Province · ★5.0 · 1 bedroom · 1 bed · 1 bath
2                       Serviced apartment in Istanbul · ★5.0 · 1 bedroom · 2 beds · 1 bath
3                                    Rental unit in İstanbul · 2 bedrooms · 2 beds · 1 bath
4                                      Rental unit in Istanbul · 1 bedroom · 1 bed · 1 bath
5                             Rental unit in Istanbul Province · 1 bedroom · 1 bed · 1 bath
6                             Rental unit in Istanbul Province · 1 bedroom · 1 bed · 1 bath
7                                    Home in Beşiktaş · ★4.64 · 1 bedroom · 2 beds · 1 bath
8                             Rental unit in Istanbul Province · 1 bedroom · 1 bed · 1 bath
9                                              Rental unit in Istanbul Province · 1 bedroom
10                            Rental unit in Istanbul · ★5.0 · 3 bedrooms · 6 beds · 1 bath
11             Rental unit in Galata Beyoglu Tophane · ★4.58 · 2 bedrooms · 2 beds · 1 bath
12                             Rental unit in Istanbul · ★4.96 · 1 bedroom · 1 bed · 1 bath
13                                   Rental unit in Beyoğlu · 1 bedroom · 1 bed · 1.5 baths
14    Rental unit in İstanbul Galata Beyoglu Tophane · ★4.77 · 2 bedrooms · 2 beds · 1 bath
15                              Rental unit in Beyoğlu · ★5.0 · 1 bedroom · 2 beds · 1 bath
16                          Rental unit in Istanbul · ★4.50 · 3 bedrooms · 4 beds · 2 baths
17                               Loft in Istanbul · ★4.72 · 2 bedrooms · 2 beds · 1.5 baths
18                      Rental unit in Istanbul · ★4.82 · 1 bedroom · 1 bed · 1 shared bath
19                           Rental unit in Istanbul · ★4.85 · 3 bedrooms · 4 beds · 1 bath
Name: name, dtype: object

In [33]:
pd.options.display.max_colwidth

100